.container{
    margin-top: 50px;
}

.profile-img{
    
    margin-left: 15px;
    height: 300px;
    width: 300px;
}

.content{
    margin-left: 15px;
    width: 450px;
}

.profile-name{
    margin-bottom: 8px;
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profile-subname{
    margin-top: auto;
    color: darkgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.icon{
    color:  #AB53F1
}

span{
    font-family: 'Courier New', Courier, monospace;
    color: darkgray;
}
