<app-nav-search></app-nav-search>
<br>

<div class="container" *ngIf="userdetail && !notfound">
    <div >
        <a href="{{userdetail.html_url}}">
            <img class="profile-img" [src]="userdetail.avatar_url" [alt]="user.login">
        </a>
    </div>

    <div class="content">
       <h1 class="profile-name">{{userdetail.name}}</h1>
       <h2 class="profile-subname"> <i class="fab fa-github"></i> {{userdetail.login}}</h2>
       <br>
       <span>{{userdetail.bio}}</span>
       <br>
       <br>
       <span><i class="fas fa-users icon"></i> {{userdetail.followers}}</span>
       <br>
       <br>
       <div *ngIf="userdetail.email">
         <span><i class="fas fa-at icon"></i> {{userdetail.email}}</span>
       </div>
       
    </div>
    
</div>
<div class="repo-container" *ngIf="userdetail && !notfound">
    <div *ngFor="let item of listrepo" class="repo">
        <a href="{{item.url_repo}}">
            <h1 class="repo-title">{{item.name}}</h1>
        </a>
        <span class="repo-desc">{{item.subname}}</span>
        <br>
        <br>
        <span class="star"><i class="far fa-star star"></i> {{item.stars}}</span>
    </div>

</div>

<div *ngIf="notfound">
    <app-not-found></app-not-found>
</div>



