<div class="searchPage" [ngClass]="{'aux-class':!searchActive}">
    <!-- Github search title -->
    <div class="title-content" [ngClass]="{'aux-class':!searchActive}">
        <p class="github-title">Github<span class="search-title">Search</span>  
        </p>
    </div>
    <!-- Input search -->
    <div class="input-content" [ngClass]="{'aux-class':!searchActive}">   
        <input type="text" class="input-search" [ngClass]="{'aux-input-search':!searchActive}" [(ngModel)]="userName" (keydown)="searchKeyDown($event)">
        <button class="btn-search" (click)="searchUser()">
            <img src="./assets/lens.png" alt="lens" class="lens">
        </button>
    </div>
</div>
<!-- User profile component -->
<div *ngIf="searchActive" class="profile-content">
    <app-user-profile [repos]="repos" [error]="notFound" [informationUser]="informationUser"></app-user-profile>
</div>