.bg-primary {
    background-color: $primary-color;
}
.bg-neutro {
    background-color: $neutro-color;
}
.bg-light {
    background-color: $light-color;
}
.c-primary {
    color: $primary-color;
}
.c-neutro {
    color: $neutro-color;
}
.c-light {
    color: $light-color;
}
.main-shadow {
    box-shadow: $shadow;
}
