/* <---------------IMPORT VARIABLES---------------> */
@import "./Styles/_Variables.scss";

/* <---------------IMPORT COMPONENTS--------------> */
@import "./Styles/Componentes/_Nav.scss";
@import "./Styles/Componentes/_ResultUsers.scss";
@import "./Styles/Componentes/_UserNotFound.scss";

/* <---------------IMPORT VIEWS-------------------> */
@import "./Styles/Views/_Home.scss";


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
