/* <---------------IMPORT VARIABLES---------------> */
/* <---------------IMPORT COMPONENTS--------------> */
.nav-container {
  display: flex;
  justify-content: space-between;
  margin: 30px 50px 20px 50px;
  box-sizing: border-box; }

.nav-containerTittle {
  display: flex;
  justify-content: center;
  width: 20%;
  padding-right: 20px; }

.nav-partOneTitle {
  padding-right: 8px;
  font-family: 'Miriam Libre', sans-serif;
  font-size: 35px;
  margin: 0; }

.nav-partTwoTitle {
  padding-left: 8px;
  font-family: 'Quicksand';
  font-size: 33px;
  margin: 0; }

.nav-containerInput {
  display: flex;
  justify-content: center;
  width: 100%; }

.nav-borderInput {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
  border-radius: 3px;
  height: 35px;
  width: 100%; }

.nav-input {
  border: 0px;
  width: 80%;
  padding-left: 10px; }

.nav-btnInput {
  background: #AB5AEF;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: none;
  cursor: pointer; }

.nav-imgInput {
  height: 30px; }

/* <---------------------MEDIA QUERY---------------------> */
@media all and (max-width: 1180px) {
  .nav-containerTittle {
    width: 30%; } }

@media all and (max-width: 830px) {
  .nav-containerTittle {
    width: 40%; } }

@media all and (max-width: 650px) {
  .nav-containerTittle {
    width: 100%; }
  .nav-container {
    flex-direction: column;
    margin: 30px; } }

.resultUsers-container {
  display: flex;
  margin: 0px 50px 50px 50px; }

.resultUsers-user a {
  text-decoration: none; }

.resultUsers-user {
  display: flex;
  flex-direction: column;
  width: 21%;
  margin: 10px 10px 10px 0px; }

.resultUsers-userImgProfile {
  height: 260px;
  width: 260px; }

.resultUsers-userName {
  font-family: 'Quicksand';
  font-size: 25px;
  margin: 0px;
  margin-top: 15px; }

.resultUsers-userLogin {
  font-family: 'Quicksand';
  font-size: 18px;
  margin: 0px; }

.resultUsers-container-infoIcons {
  margin-top: 25px; }

.resultUsers-icons {
  display: flex;
  margin-top: 10px; }

.resultUsers-userImg {
  height: 23px;
  width: 23px;
  margin-right: 8px; }

.resultUsers-repos {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px 10px 10px 60px; }

.resultUsers-oneRepo {
  margin-bottom: 35px; }

.resultUsers-reposName {
  font-family: 'Quicksand';
  font-size: 30px;
  color: #AB5AEF;
  margin: 0px;
  margin-top: 15px; }

.resultUsers-reposDescription {
  font-family: 'Quicksand';
  font-size: 18px;
  margin: 0px; }

.resultUsers-container-Stars {
  display: flex;
  align-items: center;
  margin-top: 5px; }

.resultUsers-userImg-repos {
  height: 20px;
  width: 20px;
  margin-right: 8px; }

.resultUsers-numberStart {
  margin: 0px; }

.userNotFound-container {
  display: flex;
  justify-content: center;
  margin-top: 170px; }

.userNotFound-title {
  font-family: 'Quicksand';
  font-size: 40px;
  color: #AB5AEF;
  margin-top: 15px; }

/* <---------------IMPORT VIEWS-------------------> */
.home-container {
  display: flex;
  flex-direction: column;
  margin: 220px 50px 50px 50px;
  box-sizing: border-box; }

.home-containerTittle {
  display: flex;
  justify-content: center; }

.home-partOneTitle {
  padding-right: 8px;
  font-family: 'Miriam Libre', sans-serif;
  font-size: 60px;
  margin: 0; }

.home-partTwoTitle {
  padding-left: 8px;
  font-family: 'Quicksand';
  font-size: 58px;
  margin: 0; }

.home-containerInput {
  display: flex;
  justify-content: center; }

.home-borderInput {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
  border-radius: 3px;
  width: 700px;
  height: 40px; }

.home-input {
  border: 0px;
  width: 80%;
  padding-left: 10px; }

.home-btnInput {
  background: #AB5AEF;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: none;
  cursor: pointer; }

.home-imgInput {
  height: 30px; }

/* <---------------------MEDIA QUERY---------------------> */
@media all and (max-width: 500px) {
  .home-partOneTitle {
    font-size: 50px; }
  .home-partTwoTitle {
    font-size: 48px; } }

@media all and (max-width: 420px) {
  .home-partOneTitle {
    font-size: 38px; }
  .home-partTwoTitle {
    font-size: 36px; } }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }
