<main class="main">
    <section class="details">
        <div >
            <a [href]="urlTest" target="_blank"><img [src]="avatarUrl" class="user-avatar"></a>
            <a [href]="urlTest" target="_blank">
                <p class="user-name">Luis Cruz</p>
            </a>
            <a [href]="urlTest" target="_blank"><p class="user-login">luiscruzga</p></a>
            <a [href]="urlTest" target="_blank"><p class="user-email">luis.cruzga@gmail.com</p></a>
            <a [href]="urlTest" target="_blank"><p class="user-bio">Test of bio</p></a>
            <div class="profile-icons" style="margin-top: 25px">
                <img src="../../../assets/img/icons/organization.png" class="icon">
                <span>Accenture</span>
            </div>
            <div class="profile-icons">
                <img src="../../../assets/img/icons/location.png" class="icon">
                <span>Villa Alemana, Valparaiso</span>
            </div>
            <div class="profile-icons">
                <img src="../../../assets/img/icons/star.png" class="icon">
                <span>10</span>
            </div>
            <div class="profile-icons">
                <img src="../../../assets/img/icons/repositorie.png" class="icon">
                <span>5</span>
            </div>
            <div class="profile-icons">
                <img src="../../../assets/img/icons/followers.png" class="icon">
                <span>3</span>
            </div>
        </div>
    </section>
    <aside class="repos">
        <div class="repo-container">
            <a [href]="urlTest" target="_blank"><h1 class="repo-name">WABOT</h1></a>
            <a [href]="urlTest" target="_blank"><p class="repo-description">Bot for whatsapp which helps to automate some tasks and interact with users</p></a>
            <div style="margin-top: 5px">
                <img src="../../../assets/img/icons/star.png" class="icon">
                <span> 1 </span>
            </div>
        </div>
    </aside>
</main>
