.searchbox__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  .searchbox__input {
    padding: 10px;
    width: 100%;
    outline: none;
    border-radius: 3px 0 0 3px;
    border: solid 2px rgba(185, 182, 182, 0.5);
    transition: 0.3s;
  }

  input:focus {
    border-color: rgba(245, 184, 232, 0.932);
    box-shadow: 0 0 8px 0 rgba(245, 184, 232, 0.932);
  }

  .searchbox__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 39px;
    outline: none;
    border: none;
    border-radius: 0 3px 3px 0;
    background-color: rgb(172, 83, 242);
    cursor: pointer;

    .searchbox__icon {
      color: rgb(255, 255, 255);
    }
  }

  button:focus {
    background-color: rgba(240, 134, 217, 0.932);
  }
}

@media (max-width: 480px) {
  .searchbox__container {
    .searchbox__button {
      padding: 10px 25px;
    }
  }
}

@media (max-width: 640px) {
  .searchbox__container {
    .searchbox__button {
      width: 60px;
    }
  }
}
