.searchbox__container {
  display: flex;
  flex-direction: row;

  .searchbox__input {
    padding: 10px;
    padding-left: 400px;
    border-radius: 3px;
    border: solid 2px rgba(185, 182, 182, 0.5);
  }

  .searchbox__button {
    display: flex;
    flex-direction: row;
    padding: 10px 30px;
    border-radius: 3px;
    background-color: rgb(172, 83, 242);

    .searchbox__icon {
      color: rgb(255, 255, 255);
    }
  }
}

// @media (max-width: 480px) {
//   .searchbox__container {
//     .searchbox__input {
//       padding-left: 100px;
//     }

//     .searchbox__button {
//       padding: 10px 25px;
//     }
//   }
// }

@media (max-width: 480px) {
  .searchbox__container {
    .searchbox__input {
      padding-left: 110px;
    }

    .searchbox__button {
      padding: 10px 20px;
    }
  }
}

@media (max-width: 640px) {
  .searchbox__container {
    .searchbox__input {
      padding-left: 180px;
    }

    .searchbox__button {
      padding: 10px 25px;
    }
  }
}

@media (max-width: 960px) {
  .searchbox__container {
    .searchbox__input {
      padding-left: 300px;
    }
  }
}
