.searchbox__container {
  padding: 24px; }
  .searchbox__container .searchbox__input {
    padding: 12px; }
  .searchbox__container .searchbox__button {
    padding-top: 50px;
    padding: 10px;
    background-color: #ac53f2; }
    .searchbox__container .searchbox__button .searchbox__icon {
      size: 40px; }
