.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
.o-hidden {
  overflow: hidden;
}
.o-visible {
  overflow: visible;
}
