@font-face {
  font-family: 'RalewayRegular';
  src: local('RalewayRegular'),
    url('../../assets/fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'RalewayLight';
  src: local('RalewayRegular'),
    url('../../assets/fonts/Raleway-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'RalewayExtraLightItalic';
  src: local('RalewayExtraLightItalic'),
    url('../../assets/fonts/Raleway-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Monaco';
  src: local('Monaco'), url('../../assets/fonts/monaco.ttf') format('truetype');
}
