@import "~src/app/styles/variables";

:host {
  display: block;
  margin-bottom: 20px;
}

a {
  font-size: 28px;
  color: $purple;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
}

p {
  font-size: 16px;
  margin: 0 0 15px;
}

span {
  font-size: 16px;
  color: $lightgray;
  font-weight: 300;

  img {
    margin-right: 8px;
    width: 18px;
  }
}
