.details__container {
  margin: 5px 30px;

  .details__searchbox__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .details__logo {
      margin-top: -40px;
      font-size: 10px;
    }

    .details__searchbox {
      // width: 10%;
    }
  }
}
