$bodyColor: #333333;
$fontGithubTitle: 'Monaco';
$fontSearchTitle: Raleway;
$styleColor: #ac53f2;
$searchBtnHoverColor: #481670;
$searchInputFontSize: 20px;
$notFoundFontSize: 40px;
$notFoundFontSize400: 30px;

// Home
$homeTitleFontSize: 60px;
$homeTitleFontSize550: 50px;
$homeTitleFontSize400: 40px;
$homeTitleFontSize300: 35px;

// Header
$headerTitleFontSize: 40px;
$headerTitleFontSize550: 50px;
$headerTitleFontSize400: 40px; 
$headerTitleFontSize300: 35px;

// Details 
$linkColor: #333333;
$userNameFontSize: 35px;
$userLoginFontSize: 20px;
$repoNameFontSize: 35px;
$repoDescriptionFontSize: 20px;