
.container {
    margin-top: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.text{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blueviolet;
}