.search {
  width: 750px;
  height: 50px;
  flex-direction: row;
  display: flex;

  .input {
    width: 85%;
    height: 83%;
    font-size: 20px;
    color: #5c5c5c;
    padding-left: 17px;
  }

  .button {
    width: 14%;
    height: 99%;
    background-color: #ac53f2;
    border: 0;
    cursor: pointer;
  }

  .button:hover {
    color: #ac53f2 !important;
    box-shadow: 0 4px 16px #ac53f2 !important;
    transition: all 0.2s ease;
  }

  .icon {
    width: 30px;
    height: 30px;
  }
}
