.home {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 33.3% 66.6%;
	margin-left: 5%;
	margin-top: 5%;
}

body {
	margin: 0;
}

.home-2 {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 13.3% 82.6%;
	grid-template-rows: 50px 50px;
	margin-left: 0%;
	margin-top: 5%;
}

.home-3 {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 90% 10%;
	grid-template-rows: 50px 50px;
	margin-left: -5%;
	margin-top: -3%;
}

.user-avatar {
	width: 280px;
	height: 280px;
	border-radius: 5px;
	box-shadow: 0 0 4px NaNpx var(--black-40);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.user-name {
	width: 418px;
	height: 40px;
	margin: 12px 67px 0.5px 3px;
	font-family: Raleway;
	color: #000000;
}

.user-login {
	width: 280px;
	height: 25px;
	margin: 7px 67px 28px 3px;
	font-family: Raleway;
	font-size: 18px;
	font-weight: 300;
	color: #5c5c5c;
}
/* icons */
.organization-icon {
	margin: 23px 16px 0 16px;
}

.star-icon {
	margin: 23px 16px 0 16px;
}

.location-icon {
	margin: 23px 15px 0 16px;
}

.repositorie-icon {
	margin: 22px 18px 1px 15px;
}

.followers-icon {
	margin: 23px 142px 0 18px;
}

/* texts */

.organization-name {
	width: 240px;
	height: 22px;
	margin: 27px 76px 12px 7px;
	font-family: Roboto, sans-serif;
	font-size: 20px;
	color: #5c5c5c;
}

.location-name {
	width: 240px;
	height: 22px;
	margin: 20px 76px 13px 7px;
	font-family: Roboto, sans-serif;
	font-size: 20px;
	color: #5c5c5c;
}

.star-count {
	width: 240px;
	height: 22px;
	margin: 20.7px 76px 2px 7px;
	font-family: Roboto, sans-serif;
	font-size: 20px;
	color: #5c5c5c;
}

.repositories-count {
	width: 240px;
	height: 22px;
	margin: 20px 76px 1px 7px;
	font-family: Roboto, sans-serif;
	font-size: 20px;
	color: #5c5c5c;
}

.followers-count {
	width: 240px;
	height: 22px;
	margin: 23px 76px 22.8px 7px;
	font-family: Roboto, sans-serif;
	font-size: 20px;
	color: #5c5c5c;
}

.star-count-1 {
	margin: 0px 5px 8px 0.5px;
	display: inline-block;
	font-size: 20px;
	font-family: Roboto, sans-serif;
	color: #5c5c5c;
}

.repo-name {
	width: 775.5px;
	height: 40.8px;
	margin: 7px 269.5px 0 1px;
	font-family: Raleway;
	font-size: 35px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
}

.repo-description {
	width: 100%;
	height: 50%;
	margin: 15.8px 45px 9.2px 2px;
	font-family: "Abel", sans-serif;
	font-size: 20px;
	color: #5c5c5c;
}

a {
	color: #ac53f2;
	font-family: "Ubuntu", sans-serif;
	width: 100%;
}
