.photo {
    width: 280px;
    height: 280px;
    border-radius: 3px;
}

.username {
    font-size: 35px;
}

.login {
    font-size: 20px;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}