.title-details{
    display: inline-block;
    width: 100%;
    .github-search {
        display:inline-block;
        font-size: 40px;
        padding: 0 25px 0 25px;
    }
}

.search-container{
    display: inline-block;
}