.nav-container{
    display: flex;
    justify-content: space-between;
    margin: 30px 50px 20px 50px;
    box-sizing: border-box;
}
    .nav-containerTittle{
        display: flex;
        justify-content: center;
        width: 20%;
        padding-right: 20px;
    }
        .nav-partOneTitle{
            padding-right: 8px;
            font-family: 'Miriam Libre', sans-serif;
            font-size: 35px;
            margin: 0;
        }
        .nav-partTwoTitle{
            padding-left: 8px;
            font-family: 'Quicksand';
            font-size: 33px;
            margin: 0;
        }

    .nav-containerInput{
        display: flex;
        justify-content: center;
        width: 100%;
    }
        .nav-borderInput{
            display: flex;
            justify-content: space-between;
            background: #FFFFFF;
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
            border-radius: 3px;
            height: 35px;
            width: 100%;
        }
            .nav-input{
                border: 0px;
                width: 80%;
                padding-left: 10px;  
            }
            .nav-btnInput{
                background: #AB5AEF;
                width: 15%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 0;
                outline: none;
                cursor: pointer;
            }
                .nav-imgInput{
                    height: 30px;
                }

/* <---------------------MEDIA QUERY---------------------> */
@media all and (max-width: 1180px){
    .nav-containerTittle { width: 30%; }
}
@media all and (max-width: 830px){
    .nav-containerTittle { width: 40%; }
}
@media all and (max-width: 650px){
    .nav-containerTittle { width: 100%; }
    .nav-container{
        flex-direction: column;
        margin: 30px;
    }
}