.userNotFound-container{
    display: flex;
    justify-content: center;
    margin-top: 170px;
}
    .userNotFound-title{
        font-family: 'Quicksand';
        font-size: 40px;
        color: #AB5AEF;
        margin-top: 15px;
    }