.home-container{
    display: flex;
    flex-direction: column;
    margin: 220px 50px 50px 50px;
    box-sizing: border-box;
}
    .home-containerTittle{
        @extend %Flex-center;
    }
        .home-partOneTitle{
            @extend %PartOne-title;
            font-size: 60px;
        }
        .home-partTwoTitle{
            @extend %PartTwo-title;
            font-size: 58px;
        }

    .home-containerInput{
        @extend %Flex-center;
    }
        .home-borderInput{
            @extend %BorderInput;
            width: 700px;
            height: 40px;
        }
            .home-input{
                @extend %Input;
                width: 80%;
            }
            .home-btnInput{
                @extend %BtnInput;
                width: 20%;
            }
                .home-imgInput{
                    height: 30px;
                }

/* <---------------------MEDIA QUERY---------------------> */
@media all and (max-width: 500px){
    .home-partOneTitle{ font-size: 50px; }
    .home-partTwoTitle{ font-size: 48px; }
}
@media all and (max-width: 420px){
    .home-partOneTitle{ font-size: 38px; }
    .home-partTwoTitle{ font-size: 36px; }
}