@import '_variables';

.search {
  text-align: center;   
}

.searchInput {
  width: 650px;
  height: 50px;
  padding: 20px;
  margin: 0;
  border:none;
  border-radius: 3px 0px 0px 3px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  font-family: $fontSearchTitle;
  font-size: $searchInputFontSize;
  display: inline-block;
}
.searchBtn {
  width: 100px;
  height: 50px;
  border-radius: 0px 3px 3px 0px;
  background-color: $styleColor;
  border: $styleColor;
  padding: 0;
  margin:0;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
}
.searchBtn:hover {
  background-color: $searchBtnHoverColor;
}
.icon {
  height: 30px;
  width: 30px;
  padding: 0;
  margin: -6px;
}


@media screen and (min-width:995px) and (max-width:1200px){
  .searchInput {
    width: 500px;
  }           
}
@media screen and (min-width:550px) and (max-width:995px){
  .searchInput {
    width: 250px;
  }    
}
@media screen and (min-width:400px) and (max-width:550px){
  .searchInput {
    width: 300px;
    }
  .searchBtn {
    width: 60px;
  }  
}
@media screen and (max-width:400px){
  .searchInput {
    width: 200px;
  }
  .searchBtn {
    width: 60px;
  }  
}