@import '_variables';

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    color: $bodyColor;
    font-size: 16px;
    word-spacing: 2px;
}

.githubTitle {
    font-family: $fontGithubTitle;
}

.searchTitle {
    font-family: $fontSearchTitle;
    font-style: italic;
    font-weight: 200;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

@font-face {
    font-family: 'Monaco';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/Monaco.woff') format('woff');
}