/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

@font-face {
  font-family: "Monaco";
  font-style: normal;
  font-weight: normal;
  src: local("Monaco"), url("/assets/font/Monaco.woff") format("woff");
}
