
* {
    margin:0;
    padding: 0;
}
/* Color Definition */
$color-black : #202020;
$color-dark: #3F3F3F;
$color-grey: #707070;
$color-yellow: #FFDF6C;
$color-white: #ffffff;

/* Size or Shape Parameters */
$header-height: 60px;
$border-radius: 0.4rem;


@mixin titleText {
    font-family: Monaco;
    font-size: 60px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-dark;
}

.App{
    position: relative;
    min-height: 100vh;
    min-width: 100vh;
    max-height: 100vh;
    max-width: 100vh;
    h1 {
        @include titleText()
    }
}
/* container to set the size of the webpage, specially for big screens */

.appWidth{
    max-width: 1400px;
    margin: auto;
}

/* header CSS */

.headerCtn{
    position: relative;
    top: 0px;
    margin-bottom: 10px;
    width: 100%;
    height: $header-height;
    padding: 20px;
    background-color: $color-black;

    .appWidth{
        display: flex;
        justify-content: space-between;

        .brandLogo{
            max-height: $header-height;
        }
    }
}

/* home view container CSS */

.homeViewCtn{
    position: relative;
    .homeYellowBackground{
        top: -30px;
        height: 330px;
        width: 100%;
        background-color: $color-yellow;
        z-index: 0;
        position: absolute;
        border-bottom-right-radius: 0.8rem;
        border-bottom-left-radius: 0.8rem;
    }

    .homeLogoCtn{
        background-color: $color-black;
        clip-path: circle(50% at 50% 50%);
        position: relative;
        min-width: 300px;
        max-width: 600px;
        width: 50%;
        margin: auto;
        margin-top: 30px;

        &::after{
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        .brandLogoBig{
            max-width: 70%;
            position: absolute;
            left: 50%;
            top: 45%;
            transform: translateX(-50%) translateY(-50%);
        }
    }

    .homeSearchBar{
        padding: 50px;
        background-color: $color-grey;
        margin: auto;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        border-radius: 30px;
        max-width: 60%;
    }
}

/* Search Bar CSS */

.searchBarCtn{
    border: 3px solid $color-yellow;
    max-width: 50%;
    min-width: 300px;
    border-radius: $border-radius;
    padding: px 0px 0px 15px;
    display: flex;
    width: 300px;
    transition: all 1s ease-out;

    &:hover{
        max-width: 80%;
        width: 700px;
        transition: all 1s ease-out;
    }

    .searchBarInput{
        max-width: 800px;
        min-width: 40%;
        border: none;
        outline: 0;
        padding: 5px 10px 10px 20px;
        font-size: 15px;
        flex: 1 1 70%;
    }

    .searchBarBtn{
        font-size: 15px;
        max-width: 100px;
        height: 40px;
        color: black;
        flex: 1 1 30%;
    }
}

/* Footer CSS*/
.footerCtn{
    bottom: 0px;
    margin-top: 30px;
    position: relative;
    height: 150px;
    background-color:$color-black;
    width: 100%;
}

/* User Summary CSS*/
.userSummaryCtn{

    .userSummaryAvatar{
        border-radius: 50%;
        max-width: 350px;
    }

}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
