@import "~src/app/styles/variables";

:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 240px 20%;
}

app-search {
  width: 100%;
  margin-top: 10px;
}
